.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-XQAvrJshfB03);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-CkWObjdBl_AX);
  font-family: var(--token-Z0iucdaglyfP);
  font-size: var(--token-ZyBOVg9dTcCf);
  line-height: var(--token-ZKt87lNAEK3K);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-kmyfXUlZEnaJ);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-sFKYMIbndKwD);
  outline-offset: 1px;
  outline-color: var(--token-XQAvrJshfB03);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-HNe5sxz5Qwq6);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-hv4Mu_XPS8ON);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-H67aCTrPE5Xk);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-vqwchOFdxDvX);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-zieATDxINr4V);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-RCM0-8qUKBK6);
  font-size: var(--token-Qu6Gxk1k-4PT);
  column-gap: var(--token-sFKYMIbndKwD);
  row-gap: 0px;
  border-radius: var(--token-KZ4cXF9eIIGL);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Qu6Gxk1k-4PT);
  line-height: var(--token-RCM0-8qUKBK6);
  column-gap: var(--token-KZ4cXF9eIIGL);
  row-gap: 0px;
  border-radius: var(--token-KZ4cXF9eIIGL);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-zV5onCqFCZrf);
  line-height: var(--token-hqJv0j7fFltq);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-zV5onCqFCZrf);
  line-height: var(--token-hqJv0j7fFltq);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-3qKLMxw9QAy5);
  border-radius: var(--token-kmyfXUlZEnaJ);
}
.softBackgroundcolor_neutral {
  background: var(--token-BLgMpgwnymvX);
}
.softBackgroundcolor_muted {
  background: var(--token-6wn_R1WKReX9);
}
.softBackgroundcolor_success {
  background: var(--token--wZ5VEXNNs5C);
}
.softBackgroundcolor_warning {
  background: var(--token-hjnIXfVXlHL_);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-6Mn4K7_EacL9);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-kmyfXUlZEnaJ);
  border: 0px solid var(--token-GdG4YMrQLlq-);
}
.bordercolor_neutral {
  border-color: var(--token-6iUzS9aA5AcP);
}
.bordercolor_muted {
  border-color: var(--token-2PO9oCoBS42o);
}
.bordercolor_success {
  border-color: var(--token-dFgK7EorNkDX);
}
.bordercolor_warning {
  border-color: var(--token-FAC9EnHO7K0O);
}
.bordercolor_errorDestructive {
  border-color: var(--token--B6t3k5LQejk);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-kmyfXUlZEnaJ);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-H5ImxmfGkdeD);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-C69X9IaF2mcD);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-bCyBg4sZaA_F);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__birNv {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-kmyfXUlZEnaJ) var(--token-I2924XuXm7lg);
}
.freeBox__birNv > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-kmyfXUlZEnaJ));
  width: calc(100% + var(--token-kmyfXUlZEnaJ));
}
.freeBox__birNv > :global(.__wab_flex-container) > *,
.freeBox__birNv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__birNv > :global(.__wab_flex-container) > picture > img,
.freeBox__birNv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-kmyfXUlZEnaJ);
}
.freeBoxsize_extraSmall__birNvodP2B {
  padding: var(--token-KZ4cXF9eIIGL) var(--token-kmyfXUlZEnaJ);
}
.freeBoxsize_small__birNvDlWk {
  padding: var(--token-kmyfXUlZEnaJ) var(--token-CkWObjdBl_AX);
}
.freeBoxsize_large__birNvuqBo {
  padding-top: var(--token-KZ4cXF9eIIGL);
  padding-bottom: var(--token-KZ4cXF9eIIGL);
}
.freeBoxsize_extraLarge__birNvTd7Pk {
  padding-left: var(--token-vXI_Hczvsu9G);
  padding-right: var(--token-vXI_Hczvsu9G);
}
.freeBoxroundedFull__birNvQoz24 {
  padding-right: var(--token-vXI_Hczvsu9G);
  padding-left: var(--token-vXI_Hczvsu9G);
}
.freeBox___31Iui {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___31IuiWxJbK {
  display: flex;
}
.slotTargetStart {
  color: var(--token-w6KxJj9ai6Ty);
}
.slotTargetStartcolor_neutral {
  color: var(--token-Joaqs63Reobr);
}
.slotTargetStartcolor_muted {
  color: var(--token-BYb_Dnjc96kK);
}
.slotTargetStartcolor_success {
  color: var(--token-wmIl9fnXB_Nj);
}
.slotTargetStartcolor_warning {
  color: var(--token-sLFjsRwm-GyC);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Nd-aoDUc1G-3);
}
.slotTargetStarttype_soft {
  color: var(--token-ZFAIPXdq3ItX);
}
.slotTargetStarttype_bordered {
  color: var(--token-ZFAIPXdq3ItX);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Qu6Gxk1k-4PT);
}
.slotTargetStartsize_small {
  font-size: var(--token-Qu6Gxk1k-4PT);
}
.slotTargetStartsize_large {
  font-size: var(--token-zV5onCqFCZrf);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-zV5onCqFCZrf);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-9UeyJuFeqglS);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-9UeyJuFeqglS);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-GPI66ao59yie);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-GPI66ao59yie);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-skQYruMfQgVr);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-skQYruMfQgVr);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-5dkc-fk3B_Ue);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-5dkc-fk3B_Ue);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-iZJ3itlRRt-J);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-iZJ3itlRRt-J);
}
.svg__vxhxz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-w6KxJj9ai6Ty);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-Joaqs63Reobr);
}
.slotTargetLabelcolor_muted {
  color: var(--token-BYb_Dnjc96kK);
}
.slotTargetLabelcolor_success {
  color: var(--token-wmIl9fnXB_Nj);
}
.slotTargetLabelcolor_warning {
  color: var(--token-sLFjsRwm-GyC);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Nd-aoDUc1G-3);
}
.slotTargetLabeltype_soft {
  color: var(--token-ZFAIPXdq3ItX);
}
.slotTargetLabeltype_bordered {
  color: var(--token-ZFAIPXdq3ItX);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-9UeyJuFeqglS);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-GPI66ao59yie);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-9UeyJuFeqglS);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-skQYruMfQgVr);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-GPI66ao59yie);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-5dkc-fk3B_Ue);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-skQYruMfQgVr);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-iZJ3itlRRt-J);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-5dkc-fk3B_Ue);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-iZJ3itlRRt-J);
}
.text___9R0XD {
  white-space: pre;
}
.freeBox__tAshb {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__tAshb3MJhV {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-w6KxJj9ai6Ty);
}
.slotTargetEndcolor_neutral {
  color: var(--token-Joaqs63Reobr);
}
.slotTargetEndcolor_muted {
  color: var(--token-BYb_Dnjc96kK);
}
.slotTargetEndcolor_success {
  color: var(--token-wmIl9fnXB_Nj);
}
.slotTargetEndcolor_warning {
  color: var(--token-sLFjsRwm-GyC);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Nd-aoDUc1G-3);
}
.slotTargetEndtype_soft {
  color: var(--token-ZFAIPXdq3ItX);
}
.slotTargetEndtype_bordered {
  color: var(--token-ZFAIPXdq3ItX);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Qu6Gxk1k-4PT);
}
.slotTargetEndsize_small {
  font-size: var(--token-Qu6Gxk1k-4PT);
}
.slotTargetEndsize_large {
  font-size: var(--token-zV5onCqFCZrf);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-zV5onCqFCZrf);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-9UeyJuFeqglS);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-9UeyJuFeqglS);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-GPI66ao59yie);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-GPI66ao59yie);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-skQYruMfQgVr);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-skQYruMfQgVr);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-5dkc-fk3B_Ue);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-5dkc-fk3B_Ue);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-iZJ3itlRRt-J);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-iZJ3itlRRt-J);
}
.svg__avq7P {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
