.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-KZ4cXF9eIIGL);
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox___0RvJ6 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox___0RvJ6 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-KZ4cXF9eIIGL));
  height: calc(100% + var(--token-KZ4cXF9eIIGL));
}
.freeBox___0RvJ6 > :global(.__wab_flex-container) > *,
.freeBox___0RvJ6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0RvJ6 > :global(.__wab_flex-container) > picture > img,
.freeBox___0RvJ6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KZ4cXF9eIIGL);
}
.radio__fqTKb:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__kpQ4J:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__px9Kr:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
