@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&family=Raleway%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-t39jpjhZL8Ch: 2rem;
  --plasmic-token-size-32: var(--token-t39jpjhZL8Ch);
  --token-OVh-IKnwzPQ3: 1rem;
  --plasmic-token-size-16: var(--token-OVh-IKnwzPQ3);
  --token-CkWObjdBl_AX: 0.5rem;
  --plasmic-token-size-8: var(--token-CkWObjdBl_AX);
  --token-GPI66ao59yie: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-GPI66ao59yie);
  --token-KZ4cXF9eIIGL: 0.25rem;
  --plasmic-token-size-4: var(--token-KZ4cXF9eIIGL);
  --token-vXI_Hczvsu9G: 0.75rem;
  --plasmic-token-size-12: var(--token-vXI_Hczvsu9G);
  --token-bOlYwvrPg7zP: 1.5rem;
  --plasmic-token-size-24: var(--token-bOlYwvrPg7zP);
  --token-zV5onCqFCZrf: 1.25rem;
  --plasmic-token-font-lg: var(--token-zV5onCqFCZrf);
  --token-ZHornT_kx0j7: #ffffff;
  --plasmic-token-basic-container-background: var(--token-ZHornT_kx0j7);
  --token-XQAvrJshfB03: #0a2243;
  --plasmic-token-brand-brand: var(--token-XQAvrJshfB03);
  --token-Z0iucdaglyfP: Roboto;
  --plasmic-token-roboto: var(--token-Z0iucdaglyfP);
  --token-ZyBOVg9dTcCf: 1rem;
  --plasmic-token-font-md: var(--token-ZyBOVg9dTcCf);
  --token-ZKt87lNAEK3K: 1.25;
  --plasmic-token-line-height-md: var(--token-ZKt87lNAEK3K);
  --token-kmyfXUlZEnaJ: 0.375rem;
  --plasmic-token-size-6: var(--token-kmyfXUlZEnaJ);
  --token-HNe5sxz5Qwq6: #374151;
  --plasmic-token-neutral-neutral: var(--token-HNe5sxz5Qwq6);
  --token-zieATDxINr4V: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-zieATDxINr4V);
  --token-hv4Mu_XPS8ON: #6b7280;
  --plasmic-token-muted-muted: var(--token-hv4Mu_XPS8ON);
  --token-Qu6Gxk1k-4PT: 0.75rem;
  --plasmic-token-font-sm: var(--token-Qu6Gxk1k-4PT);
  --token-RCM0-8qUKBK6: 1;
  --plasmic-token-line-height-sm: var(--token-RCM0-8qUKBK6);
  --token-hqJv0j7fFltq: 1.4;
  --plasmic-token-line-height-lg: var(--token-hqJv0j7fFltq);
  --token-sFKYMIbndKwD: 0.125rem;
  --plasmic-token-size-2: var(--token-sFKYMIbndKwD);
  --token-H67aCTrPE5Xk: #16a34a;
  --plasmic-token-success-success: var(--token-H67aCTrPE5Xk);
  --token-vqwchOFdxDvX: #facc15;
  --plasmic-token-warning-warning: var(--token-vqwchOFdxDvX);
  --token-3qKLMxw9QAy5: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-3qKLMxw9QAy5);
  --token-BLgMpgwnymvX: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-BLgMpgwnymvX);
  --token-6wn_R1WKReX9: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-6wn_R1WKReX9);
  --token--wZ5VEXNNs5C: #dcfce7;
  --plasmic-token-success-success-soft: var(--token--wZ5VEXNNs5C);
  --token-hjnIXfVXlHL_: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-hjnIXfVXlHL_);
  --token-6Mn4K7_EacL9: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-6Mn4K7_EacL9);
  --token-GdG4YMrQLlq-: #fcbb1cc4;
  --plasmic-token-brand-brand-border: var(--token-GdG4YMrQLlq-);
  --token-6iUzS9aA5AcP: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-6iUzS9aA5AcP);
  --token-2PO9oCoBS42o: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-2PO9oCoBS42o);
  --token-dFgK7EorNkDX: #86efac;
  --plasmic-token-success-success-border: var(--token-dFgK7EorNkDX);
  --token-FAC9EnHO7K0O: #fde047;
  --plasmic-token-warning-warning-border: var(--token-FAC9EnHO7K0O);
  --token--B6t3k5LQejk: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token--B6t3k5LQejk);
  --token-H5ImxmfGkdeD: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-H5ImxmfGkdeD);
  --token-C69X9IaF2mcD: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-C69X9IaF2mcD);
  --token-bCyBg4sZaA_F: #00000033;
  --plasmic-token-interaction-pressed: var(--token-bCyBg4sZaA_F);
  --token-I2924XuXm7lg: 0.625rem;
  --plasmic-token-size-10: var(--token-I2924XuXm7lg);
  --token-w6KxJj9ai6Ty: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-w6KxJj9ai6Ty);
  --token-Joaqs63Reobr: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-Joaqs63Reobr);
  --token-BYb_Dnjc96kK: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-BYb_Dnjc96kK);
  --token-ZFAIPXdq3ItX: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-ZFAIPXdq3ItX);
  --token-sLFjsRwm-GyC: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-sLFjsRwm-GyC);
  --token-wmIl9fnXB_Nj: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-wmIl9fnXB_Nj);
  --token-Nd-aoDUc1G-3: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-Nd-aoDUc1G-3);
  --token-9UeyJuFeqglS: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-9UeyJuFeqglS);
  --token-skQYruMfQgVr: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-skQYruMfQgVr);
  --token-5dkc-fk3B_Ue: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-5dkc-fk3B_Ue);
  --token-iZJ3itlRRt-J: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-iZJ3itlRRt-J
  );
  --token-65rC9D4Hojej: #d1d5db;
  --plasmic-token-basic-border: var(--token-65rC9D4Hojej);
  --token-imtWo6tcYhfH: #0a2243;
  --plasmic-token-basic-text-primary: var(--token-imtWo6tcYhfH);
  --token-pv3OvSApzWwD: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-pv3OvSApzWwD);
  --token-Ppifew9ZjGZ6: 1.25rem;
  --plasmic-token-size-20: var(--token-Ppifew9ZjGZ6);
  --token-zZDBs95uwa7m: #9ca3af;
  --plasmic-token-basic-ring: var(--token-zZDBs95uwa7m);
  --token-Ls_U7_a6GNUD: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-Ls_U7_a6GNUD);
  --token-r4Ff1dwXC9Zc: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-r4Ff1dwXC9Zc);
  --token-pq4ti8tAiiwH: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-pq4ti8tAiiwH);
  --token-n5FhpkbXYduN: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-n5FhpkbXYduN);
  --token-g63CyC2hWBlc: Montserrat;
  --plasmic-token-montserrat-typography: var(--token-g63CyC2hWBlc);
  --token-1oXcPPqE1b6q: Raleway;
  --plasmic-token-raleway: var(--token-1oXcPPqE1b6q);
  --token-GwNXsikp_RHr: #f0f0f0;
  --plasmic-token-background-grey-base: var(--token-GwNXsikp_RHr);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-MjniLXDtGi_1_font-family: "Montserrat", sans-serif;
  --mixin-MjniLXDtGi_1_font-size: 14px;
  --mixin-MjniLXDtGi_1_font-weight: 400;
  --mixin-MjniLXDtGi_1_font-style: normal;
  --mixin-MjniLXDtGi_1_color: var(--token-XQAvrJshfB03);
  --mixin-MjniLXDtGi_1_text-align: left;
  --mixin-MjniLXDtGi_1_text-transform: none;
  --mixin-MjniLXDtGi_1_line-height: 1.5;
  --mixin-MjniLXDtGi_1_letter-spacing: normal;
  --mixin-MjniLXDtGi_1_white-space: pre-wrap;
  --mixin-MjniLXDtGi_1_user-select: text;
  --mixin-MjniLXDtGi_1_text-decoration-line: none;
  --mixin-MjniLXDtGi_1_text-overflow: clip;
  --mixin-Cg9i6ogADd9B_color: var(--token-XQAvrJshfB03);
  --mixin-Cg9i6ogADd9B_font-weight: 600;
  --mixin-Cg9i6ogADd9B_font-size: 40px;
  --mixin-Cg9i6ogADd9B_line-height: 1;
  --mixin-Cg9i6ogADd9B_letter-spacing: -1px;
  --mixin-Cg9i6ogADd9B_white-space: pre-wrap;
  --mixin-V1pVmMMSCNaf_color: #000000;
  --mixin-V1pVmMMSCNaf_font-size: 30px;
  --mixin-V1pVmMMSCNaf_font-weight: 600;
  --mixin-V1pVmMMSCNaf_line-height: 1.1;
  --mixin-V1pVmMMSCNaf_white-space: pre-wrap;
  --mixin-wiP9KuuJ9Rsf_color: #0070f3;
  --mixin-wiP9KuuJ9Rsf_white-space: pre-wrap;
  --mixin-OpunyeEmZo2w_color: #000000;
  --mixin-OpunyeEmZo2w_font-size: 24px;
  --mixin-OpunyeEmZo2w_font-weight: 600;
  --mixin-OpunyeEmZo2w_line-height: 1.2;
  --mixin-OpunyeEmZo2w_white-space: pre-wrap;
  --mixin-59i9pF6N7pc8_color: #000000;
  --mixin-59i9pF6N7pc8_font-size: 20px;
  --mixin-59i9pF6N7pc8_font-weight: 600;
  --mixin-59i9pF6N7pc8_line-height: 1.3;
  --mixin-59i9pF6N7pc8_white-space: pre-wrap;
  --mixin-uk4zJwHlt79i_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uk4zJwHlt79i_border-bottom-color: #dddddd;
  --mixin-uk4zJwHlt79i_border-bottom-style: solid;
  --mixin-uk4zJwHlt79i_border-bottom-width: 1px;
  --mixin-uk4zJwHlt79i_border-left-color: #dddddd;
  --mixin-uk4zJwHlt79i_border-left-style: solid;
  --mixin-uk4zJwHlt79i_border-left-width: 1px;
  --mixin-uk4zJwHlt79i_border-right-color: #dddddd;
  --mixin-uk4zJwHlt79i_border-right-style: solid;
  --mixin-uk4zJwHlt79i_border-right-width: 1px;
  --mixin-uk4zJwHlt79i_border-top-color: #dddddd;
  --mixin-uk4zJwHlt79i_border-top-style: solid;
  --mixin-uk4zJwHlt79i_border-top-width: 1px;
  --mixin-uk4zJwHlt79i_border-bottom-left-radius: 3px;
  --mixin-uk4zJwHlt79i_border-bottom-right-radius: 3px;
  --mixin-uk4zJwHlt79i_border-top-left-radius: 3px;
  --mixin-uk4zJwHlt79i_border-top-right-radius: 3px;
  --mixin-uk4zJwHlt79i_font-family: "Inconsolata";
  --mixin-uk4zJwHlt79i_padding-bottom: 1px;
  --mixin-uk4zJwHlt79i_padding-left: 4px;
  --mixin-uk4zJwHlt79i_padding-right: 4px;
  --mixin-uk4zJwHlt79i_padding-top: 1px;
  --mixin-uk4zJwHlt79i_white-space: pre-wrap;
  --mixin-hjLUcmf9sOIo_border-left-color: #dddddd;
  --mixin-hjLUcmf9sOIo_border-left-style: solid;
  --mixin-hjLUcmf9sOIo_border-left-width: 3px;
  --mixin-hjLUcmf9sOIo_color: #888888;
  --mixin-hjLUcmf9sOIo_padding-left: 10px;
  --mixin-hjLUcmf9sOIo_white-space: pre-wrap;
  --mixin-T60fPlYGhvS5_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-T60fPlYGhvS5_border-bottom-color: #dddddd;
  --mixin-T60fPlYGhvS5_border-bottom-style: solid;
  --mixin-T60fPlYGhvS5_border-bottom-width: 1px;
  --mixin-T60fPlYGhvS5_border-left-color: #dddddd;
  --mixin-T60fPlYGhvS5_border-left-style: solid;
  --mixin-T60fPlYGhvS5_border-left-width: 1px;
  --mixin-T60fPlYGhvS5_border-right-color: #dddddd;
  --mixin-T60fPlYGhvS5_border-right-style: solid;
  --mixin-T60fPlYGhvS5_border-right-width: 1px;
  --mixin-T60fPlYGhvS5_border-top-color: #dddddd;
  --mixin-T60fPlYGhvS5_border-top-style: solid;
  --mixin-T60fPlYGhvS5_border-top-width: 1px;
  --mixin-T60fPlYGhvS5_border-bottom-left-radius: 3px;
  --mixin-T60fPlYGhvS5_border-bottom-right-radius: 3px;
  --mixin-T60fPlYGhvS5_border-top-left-radius: 3px;
  --mixin-T60fPlYGhvS5_border-top-right-radius: 3px;
  --mixin-T60fPlYGhvS5_font-family: "Inconsolata";
  --mixin-T60fPlYGhvS5_padding-bottom: 3px;
  --mixin-T60fPlYGhvS5_padding-left: 6px;
  --mixin-T60fPlYGhvS5_padding-right: 6px;
  --mixin-T60fPlYGhvS5_padding-top: 3px;
  --mixin-T60fPlYGhvS5_white-space: pre-wrap;
  --mixin-RRpprHu4St6A_display: flex;
  --mixin-RRpprHu4St6A_flex-direction: column;
  --mixin-RRpprHu4St6A_align-items: stretch;
  --mixin-RRpprHu4St6A_justify-content: flex-start;
  --mixin-RRpprHu4St6A_list-style-position: outside;
  --mixin-RRpprHu4St6A_padding-left: 40px;
  --mixin-RRpprHu4St6A_position: relative;
  --mixin-RRpprHu4St6A_list-style-type: disc;
  --mixin-RRpprHu4St6A_white-space: pre-wrap;
  --mixin-_4ZzWFb_Y1Uu_display: flex;
  --mixin-_4ZzWFb_Y1Uu_flex-direction: column;
  --mixin-_4ZzWFb_Y1Uu_align-items: stretch;
  --mixin-_4ZzWFb_Y1Uu_justify-content: flex-start;
  --mixin-_4ZzWFb_Y1Uu_list-style-position: outside;
  --mixin-_4ZzWFb_Y1Uu_padding-left: 40px;
  --mixin-_4ZzWFb_Y1Uu_position: relative;
  --mixin-_4ZzWFb_Y1Uu_list-style-type: decimal;
  --mixin-_4ZzWFb_Y1Uu_white-space: pre-wrap;
  --mixin-2rUtJaHbm2rx_color: #000000;
  --mixin-2rUtJaHbm2rx_font-size: 16px;
  --mixin-2rUtJaHbm2rx_font-weight: 600;
  --mixin-2rUtJaHbm2rx_line-height: 1.5;
  --mixin-2rUtJaHbm2rx_white-space: pre-wrap;
  --mixin-IJ3czuEaaDHR_color: #000000;
  --mixin-IJ3czuEaaDHR_font-size: 14px;
  --mixin-IJ3czuEaaDHR_font-weight: 600;
  --mixin-IJ3czuEaaDHR_line-height: 1.5;
  --mixin-IJ3czuEaaDHR_white-space: pre-wrap;
  --mixin-eRMwJHw2-p7R_color: #3291ff;
  --mixin-eRMwJHw2-p7R_white-space: pre-wrap;
  --mixin-TDFpxlFKSMH8_white-space: pre-wrap;
  --mixin-P9xMOPcC1arU_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-MjniLXDtGi_1_font-family);
  font-size: var(--mixin-MjniLXDtGi_1_font-size);
  font-weight: var(--mixin-MjniLXDtGi_1_font-weight);
  font-style: var(--mixin-MjniLXDtGi_1_font-style);
  color: var(--mixin-MjniLXDtGi_1_color);
  text-align: var(--mixin-MjniLXDtGi_1_text-align);
  text-transform: var(--mixin-MjniLXDtGi_1_text-transform);
  line-height: var(--mixin-MjniLXDtGi_1_line-height);
  letter-spacing: var(--mixin-MjniLXDtGi_1_letter-spacing);
  white-space: var(--mixin-MjniLXDtGi_1_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Cg9i6ogADd9B_color);
  font-weight: var(--mixin-Cg9i6ogADd9B_font-weight);
  font-size: var(--mixin-Cg9i6ogADd9B_font-size);
  line-height: var(--mixin-Cg9i6ogADd9B_line-height);
  letter-spacing: var(--mixin-Cg9i6ogADd9B_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-V1pVmMMSCNaf_color);
  font-size: var(--mixin-V1pVmMMSCNaf_font-size);
  font-weight: var(--mixin-V1pVmMMSCNaf_font-weight);
  line-height: var(--mixin-V1pVmMMSCNaf_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-wiP9KuuJ9Rsf_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-OpunyeEmZo2w_color);
  font-size: var(--mixin-OpunyeEmZo2w_font-size);
  font-weight: var(--mixin-OpunyeEmZo2w_font-weight);
  line-height: var(--mixin-OpunyeEmZo2w_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-59i9pF6N7pc8_color);
  font-size: var(--mixin-59i9pF6N7pc8_font-size);
  font-weight: var(--mixin-59i9pF6N7pc8_font-weight);
  line-height: var(--mixin-59i9pF6N7pc8_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-uk4zJwHlt79i_font-family);
  border-radius: var(--mixin-uk4zJwHlt79i_border-top-left-radius)
    var(--mixin-uk4zJwHlt79i_border-top-right-radius)
    var(--mixin-uk4zJwHlt79i_border-bottom-right-radius)
    var(--mixin-uk4zJwHlt79i_border-bottom-left-radius);
  padding: var(--mixin-uk4zJwHlt79i_padding-top)
    var(--mixin-uk4zJwHlt79i_padding-right)
    var(--mixin-uk4zJwHlt79i_padding-bottom)
    var(--mixin-uk4zJwHlt79i_padding-left);
  border-top: var(--mixin-uk4zJwHlt79i_border-top-width)
    var(--mixin-uk4zJwHlt79i_border-top-style)
    var(--mixin-uk4zJwHlt79i_border-top-color);
  border-right: var(--mixin-uk4zJwHlt79i_border-right-width)
    var(--mixin-uk4zJwHlt79i_border-right-style)
    var(--mixin-uk4zJwHlt79i_border-right-color);
  border-bottom: var(--mixin-uk4zJwHlt79i_border-bottom-width)
    var(--mixin-uk4zJwHlt79i_border-bottom-style)
    var(--mixin-uk4zJwHlt79i_border-bottom-color);
  border-left: var(--mixin-uk4zJwHlt79i_border-left-width)
    var(--mixin-uk4zJwHlt79i_border-left-style)
    var(--mixin-uk4zJwHlt79i_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-hjLUcmf9sOIo_color);
  padding-left: var(--mixin-hjLUcmf9sOIo_padding-left);
  border-left: var(--mixin-hjLUcmf9sOIo_border-left-width)
    var(--mixin-hjLUcmf9sOIo_border-left-style)
    var(--mixin-hjLUcmf9sOIo_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-T60fPlYGhvS5_font-family);
  border-radius: var(--mixin-T60fPlYGhvS5_border-top-left-radius)
    var(--mixin-T60fPlYGhvS5_border-top-right-radius)
    var(--mixin-T60fPlYGhvS5_border-bottom-right-radius)
    var(--mixin-T60fPlYGhvS5_border-bottom-left-radius);
  padding: var(--mixin-T60fPlYGhvS5_padding-top)
    var(--mixin-T60fPlYGhvS5_padding-right)
    var(--mixin-T60fPlYGhvS5_padding-bottom)
    var(--mixin-T60fPlYGhvS5_padding-left);
  border-top: var(--mixin-T60fPlYGhvS5_border-top-width)
    var(--mixin-T60fPlYGhvS5_border-top-style)
    var(--mixin-T60fPlYGhvS5_border-top-color);
  border-right: var(--mixin-T60fPlYGhvS5_border-right-width)
    var(--mixin-T60fPlYGhvS5_border-right-style)
    var(--mixin-T60fPlYGhvS5_border-right-color);
  border-bottom: var(--mixin-T60fPlYGhvS5_border-bottom-width)
    var(--mixin-T60fPlYGhvS5_border-bottom-style)
    var(--mixin-T60fPlYGhvS5_border-bottom-color);
  border-left: var(--mixin-T60fPlYGhvS5_border-left-width)
    var(--mixin-T60fPlYGhvS5_border-left-style)
    var(--mixin-T60fPlYGhvS5_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-RRpprHu4St6A_display);
  flex-direction: var(--mixin-RRpprHu4St6A_flex-direction);
  align-items: var(--mixin-RRpprHu4St6A_align-items);
  justify-content: var(--mixin-RRpprHu4St6A_justify-content);
  list-style-position: var(--mixin-RRpprHu4St6A_list-style-position);
  padding-left: var(--mixin-RRpprHu4St6A_padding-left);
  position: var(--mixin-RRpprHu4St6A_position);
  list-style-type: var(--mixin-RRpprHu4St6A_list-style-type);
  flex-column-gap: var(--mixin-RRpprHu4St6A_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-_4ZzWFb_Y1Uu_display);
  flex-direction: var(--mixin-_4ZzWFb_Y1Uu_flex-direction);
  align-items: var(--mixin-_4ZzWFb_Y1Uu_align-items);
  justify-content: var(--mixin-_4ZzWFb_Y1Uu_justify-content);
  list-style-position: var(--mixin-_4ZzWFb_Y1Uu_list-style-position);
  padding-left: var(--mixin-_4ZzWFb_Y1Uu_padding-left);
  position: var(--mixin-_4ZzWFb_Y1Uu_position);
  list-style-type: var(--mixin-_4ZzWFb_Y1Uu_list-style-type);
  flex-column-gap: var(--mixin-_4ZzWFb_Y1Uu_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-2rUtJaHbm2rx_color);
  font-size: var(--mixin-2rUtJaHbm2rx_font-size);
  font-weight: var(--mixin-2rUtJaHbm2rx_font-weight);
  line-height: var(--mixin-2rUtJaHbm2rx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-IJ3czuEaaDHR_color);
  font-size: var(--mixin-IJ3czuEaaDHR_font-size);
  font-weight: var(--mixin-IJ3czuEaaDHR_font-weight);
  line-height: var(--mixin-IJ3czuEaaDHR_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-eRMwJHw2-p7R_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
